# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
* List popular languages for Data Science
* List Data Science Tools used
* List libraries used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL languages

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit-Learn
4. Vegas
5. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Labs|
|R studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Niral Parihar